<div>
    <div class="box-ads">
        <div class="row-module_ads">
            <div class="module_ads">
                <img src="~/Content/Client/img/VIDEOREMCUA.jpg" />
                <img src="~/Content/Client/img/Capture.PNG" />
            </div>
        </div>
    </div>
</div>
