<div class="wrapper-footer">
    <div class="footer-shop-name">
        <div class="col-footer">
            <div class="col-footer-w25">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>Vì sao chọn Texas</a></li>
                    <li><a href="#">Tại sao chọn máy lọc Texas </a></li>
                    <li><a href="#">Công nghệ RO tiên tiến </a></li>
                    <li><a href="#">Sản phẩm thông minh </a></li>
                    <li>
                        <a href="#">Chất lượng đảm bảo</a>
                    </li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>Tư vấn</a></li>
                    <li><a href="#">Tư vấn sử dụng </a></li>
                    <li><a href="#">Lỗi và cách khắc phục </a></li>
                    <li><a href="#">Q&amp;A </a></li>
                    <li><a href="#">Đăng ký bảo hành</a></li>
                </ul>
            </div>
            <div class="col-footer-w25">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>Vì sao chọn Texas</a></li>
                    <li><a href="#">Tại sao chọn máy lọc Texas </a></li>
                    <li><a href="#">Công nghệ RO tiên tiến </a></li>
                    <li><a href="#">Sản phẩm thông minh </a></li>
                    <li>
                        <a href="#">Chất lượng đảm bảo</a>
                    </li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>Đường dây nóng</a></li>
                    <li style="margin-bottom:5px;"><a href="#"><i class="fa fa-phone">&nbsp;</i>0996.698.666</a></li>
                    <li><a href="#"><i class="fa fa-envelope">&nbsp;</i>admin@webplusjsc.com</a></li>
                </ul>
            </div>
            <div class="col-footer-w25">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>Vì sao chọn Texas</a></li>
                    <li><a href="#">Tại sao chọn máy lọc Texas </a></li>
                    <li><a href="#">Công nghệ RO tiên tiến </a></li>
                    <li><a href="#">Sản phẩm thông minh </a></li>
                    <li>
                        <a href="#">Chất lượng đảm bảo</a>
                    </li>
                </ul>
                <ul>
                    <li style="margin-bottom:22px;"><a href="#"><i class="fa fa-share-alt ">&nbsp;</i>Kết nối với chúng tôi</a></li>
                    <li><a href="#"><i class="fa fa-facebook">&nbsp;</i></a> <a href="#" style="padding-left:3px;"><i class="fa fa-google-plus">&nbsp;</i></a> <a href="#" style="padding-left:3px;"><i class="fa fa-twitter">&nbsp;</i></a> <a href="#" style="padding-left:3px;"><i class="fa fa-youtube">&nbsp;</i></a></li>
                </ul>
            </div>
            <div class="col-footer-w25">
                <ul>
                    <li><a href="#"><i class="fa fa-envelope ">&nbsp;</i>đăng ký nhận tin</a></li>
                    <li id="searchmenu">
                        <input type="text" id="" onblur="if (this.value=='') this.value='Nhập email đăng ký...';" onfocus="if (this.value=='Nhập email đăng ký...') this.value='';" value="Nhập email đăng ký...">
                        <button class="search-button" href="#"><i class="fa fa-send"></i></button>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
