<div class="wrapper-footer">
    <div class="footer-shop-name">
        <div class="col-footer">
            <div class="col-footer-w25">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>SHOWROOM 39 KHUẤT DUY TIẾN – HÀ NỘI</a></li>
                    <li><a href="#"><i class="fa fa-university"></i>CÔNG TY CP DVTM & XD BẠCH DƯƠNG</a></li>
                    <li><a href="#"><i class="fa fa-location-arrow"></i>Địa chỉ: Số 39 Khuất Duy Tiến - Thanh Xuân</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>Điện thoại: 0432.222.660 - 0987.818.912</a></li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i>Email: rembachduong@gmail.com</a>
                    </li>
                </ul>
                
            </div>
            <div class="col-footer-w25">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>SHOWROOM 16 TỐ HỮU – HÀ NỘI</a></li>
                    <li><a href="#"><i class="fa fa-university"></i>CÔNG TY CP DVTM & XD BẠCH DƯƠNG</a></li>
                    <li><a href="#"><i class="fa fa-location-arrow"></i>Địa chỉ: Số 16 Tố Hữu - Vạn Phúc – Hà Đông</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>Điện thoại: 0433.520.291 - 0987.818.912</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>Email: rembachduong@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-footer-w25">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-double-right">&nbsp;</i>SHOWROOM GÒ DẦU – TP HỒ CHÍ MINH</a></li>
                    <li><a href="#"><i class="fa fa-university"></i>CÔNG TY CP DVTM & XD BẠCH DƯƠNG</a></li>
                    <li><a href="#"><i class="fa fa-location-arrow"></i>Địa chỉ: /68 Gò Dầu - P.Tân Quý - Q. Tân Phú</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>Điện thoại: 0987.818.912 - 0904.558.766</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>Email: rembachduong@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
