 <!---Begin topBar-->
<div id="topBar">
    <div class="wrapper-topbar clearfix">
        <ul class="toolbar-cus clearfix">
            <li><a title="Trang chủ" href="/trang-chu">Trang chủ</a></li>
            <li><a title="Tin tức" href="/tin-tuc">Tin tức</a></li>
            <li><a title="Liên hệ" href="/trang/lien-he">Liên hệ</a></li>
            <li><a title="Bản đồ" href="/trang/gioi-thieu">Giới thiệu</a></li>
            <li class="bar_cart"><a id="hplCartHeaderMenu" href="/gio-hang"><span id="lblCartMenu" class="counter">0</span></a></li>
        </ul>
    </div>
</div>
<!--EndTopBar-->
<!---Begin header-bootom-->
<div class="header-bottom">
    <div class="wrapper-header-bottom clearfix">
        <div class="logo">
            <a href="/trang-chu">
                <img src="~/Content/Client/img/logo_phuc.png" />
            </a>
        </div>
        <div class="nav-menu">
            <ul class="item-main clearfix">
                <li class="nav-1"><a href="/tin-tuc" class="first top-link"><span><b>Tin Tức</b></span></a></li>
                <li class="nav-3"><a href="/trang/gioi-thieu" class="top-link "><span><b>Giới thiệu</b></span></a></li>
                <li class="nav-4"><a href="/trang/lien-he" class="top-link "><span><b>Liên hệ</b></span></a></li>
                <li class="nav-5"><a href="/gio-hang" class="last top-link"><span><b>Giỏ Hàng</b></span></a></li>
                <li id="searchmenu">
                    <input type="text" value="Tìm kiếm..." id="txtKeywordMenu" class="search-input" onfocus="if (this.value=='Tìm kiếm...') this.value='';" onblur="if (this.value=='') this.value='Tìm kiếm...';">
                    <a class="search-button" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--End header-bootom-->
