 <!---Begin topBar-->
<div id="topBar">
    <div class="wrapper-topbar clearfix">
        <ul class="toolbar-cus clearfix">
            <li><a title="Trang chủ" href="#">Trang chủ</a></li>
            <li><a title="Tin tức" href="#">Tin tức</a></li>
            <li><a title="Sản phẩm" href="#">Sản phẩm</a></li>
            <li><a title="Liên hệ" href="#">Liên hệ</a></li>
            <li><a title="Bản đồ" href="#">Bản đồ</a></li>
            <li class="bar_cart"><a id="hplCartHeaderMenu" href="#"><span id="lblCartMenu" class="counter">0</span></a></li>
        </ul>
    </div>
</div>
<!--EndTopBar-->
<!---Begin header-bootom-->
<div class="header-bottom">
    <div class="wrapper-header-bottom clearfix">
        <div class="logo">
            <a href="#">
                <img src="~/Content/Client/img/logo_phuc.png" />
            </a>
        </div>
        <div class="nav-menu">
            <ul class="item-main clearfix">
                <li class="nav-1"><a href="#" class="first top-link"><span><b>Tin Tức</b></span></a></li>
                <li class="nav-2"><a href="#" class="top-link "><span><b>Sản Phẩm</b></span></a></li>
                <li class="nav-3"><a href="#" class="top-link "><span><b>Giới thiệu</b></span></a></li>
                <li class="nav-4"><a href="#" class="top-link "><span><b>Liên hệ</b></span></a></li>
                <li class="nav-5"><a href="#" class="last top-link"><span><b>Bản đồ</b></span></a></li>
                <li id="searchmenu">
                    <input type="text" value="Tìm kiếm..." id="txtKeywordMenu" class="search-input" onfocus="if (this.value=='Tìm kiếm...') this.value='';" onblur="if (this.value=='') this.value='Tìm kiếm...';">
                    <a class="search-button" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--End header-bootom-->
