@model IEnumerable<RemCua.Entities.Models.Slide>

<div class="slider-wrapper">
    <div id="slider" class="nivoSlider">
        @foreach (var item in Model)
        {
            <img src="@item.Image" />
            <img src="@item.Image" />
        }
    </div>
</div>
