@model IEnumerable<RemCua.Entities.Models.Slide>

<div class="slider-wrapper">
    <div id="slider" class="nivoSlider">
        @foreach (var item in Model)
        {
            <img src="@item.Image" />
            <img src="@item.Image" />
        }
        <img src="~/Content/Client/img/8401-1735428.png" />
        <img src="~/Content/Client/img/8401-1735427.png" />
    </div>
</div>
