
<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="#">
                <i class="fa fa-dashboard"></i>
                <span>Danh Mục</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>Sản Phẩm</span>
            </a>
            <ul class="sub">
                <li><a href="/quan-ly-san-pham">Quản lý Sản Phẩm</a></li>
                <li><a href="/them-san-pham">Thêm Sản Phẩm</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Tin Tức</span>
            </a>
            <ul class="sub">
                <li><a href="/quan-ly-tin-tuc">Quản lý Tin Tức</a></li>
                <li><a href="/them-tin-tuc">Thêm Tin Tức</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Đơn Đặt Hàng</span>
            </a>
            <ul class="sub">
                <li><a href="/xem-don-hang">Quản lý Đơn Đặt Hàng</a></li>
            </ul>
        </li>

    </ul>
    <!-- sidebar menu end-->
</div>